.chess_piece {
    width: 80%;
    height: 80%;
    filter: brightness(1.4);
}

.chess_piece_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    filter: drop-shadow(rgba(0, 0, 0, 0.418) 0 0 10px);
    transition: 0.1s all;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.chess_piece_wrapper:hover {
    filter: drop-shadow(rgba(0, 0, 0, 0.747) 0 0 10px);
}

.chess_piece_wrapper:hover .chess_piece {
    width: 85%;
    height: 85%;
}

.chess_key {
    user-select: none;
}

.chess_piece_white {
    background: var(--even_background);
}

.chess_piece_black {
    background: var(--odd_background);
}

.chess_piece_rook {
    -webkit-mask: url('../chess_icons/svg/chess-rok.svg');
    mask: url('../chess_icons/svg/chess-rok.svg');
}
.chess_piece_knight {
    -webkit-mask: url('../chess_icons/svg/chess-knight.svg');
    mask: url('../chess_icons/svg/chess-knight.svg');
}
.chess_piece_bishop {
    -webkit-mask: url('../chess_icons/svg/bishop.svg');
    mask: url('../chess_icons/svg/bishop.svg');
}
.chess_piece_queen {
    -webkit-mask: url('../chess_icons/svg/chess-queen.svg');
    mask: url('../chess_icons/svg/chess-queen.svg');
}
.chess_piece_king {
    -webkit-mask: url('../chess_icons/svg/chess-king.svg');
    mask: url('../chess_icons/svg/chess-king.svg');
}
.chess_piece_pawn {
    -webkit-mask: url('../chess_icons/svg/chess-pawn.svg');
    mask: url('../chess_icons/svg/chess-pawn.svg');
}