.chess_piece {
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: 1000000;
    
}

.chess_possible_move {
    filter: sepia(1) saturate(0.5) hue-rotate(-180deg);
    border: 3px solid rgb(117, 117, 117);
}

.chess_possible_capture {
    filter: sepia(1) saturate(0.5) hue-rotate(-80deg);
    border: 3px solid rgb(117, 117, 117);
}

.chess_hover {
    border: 5px solid rgb(117, 117, 117);
}

.chess_selected {
    border: 5px white solid;
}



.chess_piece_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    filter: drop-shadow(rgba(0, 0, 0, 0.418) 0 0 10px);
    transition: 0.1s all;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.chess_piece_wrapper:hover {
    filter: drop-shadow(rgba(0, 0, 0, 0.747) 0 0 10px);
}

.chess_piece_wrapper:hover .chess_piece {
    width: 80%;
    height: 80%;
    z-index: 1;
}

.chess_key {
    user-select: none;
}

.chess_piece_white {
    filter: brightness(1.2);
    background: var(--even_background);
}

.chess_piece_black {
    filter: brightness(1.4);
    background: var(--odd_background);
}

.chess_piece_rook {
    -webkit-mask: url('../chess_icons/svg/chess-rok.svg');
    mask: url('../chess_icons/svg/chess-rok.svg');
}
.chess_piece_knight {
    -webkit-mask: url('../chess_icons/svg/chess-knight.svg');
    mask: url('../chess_icons/svg/chess-knight.svg');
}
.chess_piece_bishop {
    -webkit-mask: url('../chess_icons/svg/bishop.svg');
    mask: url('../chess_icons/svg/bishop.svg');
}
.chess_piece_queen {
    -webkit-mask: url('../chess_icons/svg/chess-queen.svg');
    mask: url('../chess_icons/svg/chess-queen.svg');
}
.chess_piece_king {
    -webkit-mask: url('../chess_icons/svg/chess-king.svg');
    mask: url('../chess_icons/svg/chess-king.svg');
}
.chess_piece_pawn {
    -webkit-mask: url('../chess_icons/svg/chess-pawn.svg');
    mask: url('../chess_icons/svg/chess-pawn.svg');
}